<!-- Alexander Wheadon -->
<!-- 02/08/17 -->
<!-- Assignment 1 -->
<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<!-- Title of page -->
<h1>List of {{ranks}} belt materials!</h1>
<br>

<!-- Create List of previous messages -->

{% for video in videos %}
<a href="/{{ranks}}/{{video}}">{{ video }}</a> <br><br>
{% endfor %}
<br><br>
<p>Click <a href="/">here</a> to return to belt selection.</p>
<!-- Allow user to enter and post a message -->
<p>Click <a href="/logout">here</a> to logout.</p>
{% endblock %}